* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    align-content: center;
}

.right {
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(52, 152, 219, 0.5);
    /* Add the blue shadow */

    text-align: center;
    position: relative;
    margin-left: 250px;
}

.left {

    position: absolute;
    margin-right: 300px;
    height: 400px;
    width: 300px;
    background-color: rgb(68, 81, 219);
    color: white;
    border-radius: 30px;
    text-align: center;
}

.score {
    font-size: 50px;
    font-weight: bold;
}

.inner-left {
    padding: 30px;
}

.score-round {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(42, 42, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(52, 152, 219, 0.5);
    /* Add the blue shadow */

}

.score-container {
    display: flex;
    justify-content: center;
}

p {
    padding: 10px;
}

h2 {
    padding: 20px;
}

.right {
    padding: ;
}

.inner-right {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    /* padding: 30px; */

}

.marks-container {
    padding-left: 50px;
    /* width: 200px;
    height: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 260px;

}

.mark-box {
    height: 38px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    /* padding:5px */

}

button {
    margin-left: 45px;
    width: 200px;
    height: 40px;
    background-color: rgb(58, 62, 105);
    border: none;
    border-radius: 50px;
    color: white;
}

.bold {
    font-weight: bolder;
}

.summary {
    padding: 20px;
    padding-left: 78px;
    font-size: 18px;
    text-align: left;
    color: rgb(58, 62, 105);
}

@media screen and (max-width: 640px) {
    .container {
        height: auto;
        margin-top: -365px;
    }

    .left {
        margin-right: 0px;
        height: 400px;
        width: 320px;
        }

    .right {
        margin-top: 750px;
        height: 450px;
        width: 320px;
        margin-left: 0px;
    }
    .inner-right {
        padding-top: 50px;
    }
    .marks-container {
        padding-left: 0px;
    }
    .summary {
        
        padding-left: 40px;
    }    
    button {
        margin-left: 0px;
    }

}